@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
	font-family: 'Poppins', sans-serif;
	font-size: 0.9em;
	font-weight: 400;
	margin: 70px auto;
	width: 680px;
}

img {
	margin-right: 50px;
}

h1 {
	color: #66bbff;
	
}

.botoes {
	display: flex;
 	align-items: center;
 	justify-content: space-between;
}

.botao1 {
	text-decoration: none;
	background-color: #66bbff;
	padding: 5px 10px;
	color: #fff;
	font-size: 1.2em;
	font-weight: 700;
	border-radius: 5px;
	border: 0;
	cursor: pointer;
}

.botao2 {
	text-decoration: none;
	background-color: #66bbff;
	padding: 5px 10px;
	color: #fff;
	font-size: 0.8em;
	font-weight: 700;
	border-radius: 5px;
	border: 0;
	cursor: pointer;
}

.botao3 {
	text-decoration: none;
	background-color: #d51213;
	padding: 5px 10px;
	color: #fff;
	font-size: 0.8em;
	font-weight: 700;
	border-radius: 5px;
	border: 0;
	cursor: pointer;
	margin-left: 7px;
}

.botao4 {
	text-decoration: none;
	background-color:  rgb(20, 50, 200);
	padding: 5px 10px;
	color: #fff;
	font-size: 1.2em;
	font-weight: 700;
	border-radius: 5px;
	border: 0;
	cursor: pointer;
}

.caixa1 {
	width: 320px;
	padding: 5px;
	margin-bottom: 10px;
	border: 1px solid #66bbff;
	border-radius: 5px;
	margin-left: 10px;
}

#caixa2 {
	width: 30px;
	padding: 5px;
	margin-bottom: 10px;
	border: 1px solid #66bbff;
	border-radius: 5px;
	font-weight: 700;
	text-align: center;
	margin-left: 10px;
	color: #d51213;
}

#tabela {
	margin-top: 30px;
	border-collapse: collapse;
	white-space: nowrap;
  	width: 100%;
  	overflow: hidden; 
  	text-overflow: ellipsis;
}

#tabela th {
	border: 1px solid #ddd;
	padding: 10px;
	text-align: left;
	background-color: #66bbff;
	color: #fff;

}

#tabela td {
	border: 1px solid #ddd;
	padding: 10px;

}





